<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'pic list', pictures_path %>
<%= link_to 'catalog list', catalogs_path %>
<br>

<!-- <form method="post" action="http://upload.qiniu.com/"
 enctype="multipart/form-data">
  <input name="key" type="hidden" value="<resource_key>">
  <input name="x:<custom_name>" type="hidden" value="<custom_value>">
    <input name="token" type="hidden" value="<%= @uptoken %>"/>
    <input name="file" type="file" />
    <input type="submit" name="commit" value="upload">
  <input name="crc32" type="hidden" />
  <input name="accept" type="hidden" />
</form> -->
